{% extends "admin_base.html.twig" %}
{% block title %}
    Projets
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="p-5 project-card">
        <h1 class=text-center>{{ project.name }}</h1>
        <p>{{project.description}}</p>
        <h3 class="text-center mt-5">Technologies</h3>
        <div class="project-technologies d-flex justify-content-evenly mt-3">
            {% for tech in project.technologies %}
                <a href="{{path('admin_technologies')}}" class="btn secondary-btn">{{tech.name}}</a>
            {% endfor %}
        </div>
        <h3 class="text-center mt-5">Collaborateurs</h3>
        <div class="project-technologies d-flex justify-content-evenly mt-3">
            {% for cont in project.contributors %}
                <a href="{{path('admin_contributors')}}" class="btn secondary-btn">{{cont.fullname}}</a>
            {% endfor %}
        </div>
    </div>
<div class="text-center my-5">
    <a href="{{path('admin_index')}}" class="btn main-btn">Retour à la liste des projets</a>
</div>
</div>

{% endblock body %}