{% extends "admin_base.html.twig" %}
{% block title %}
    Technologies
{% endblock title %}
{% block body %}
<div class="container-fluid">
    <div class="p-5">

        <h1 class=text-center>
            Liste des technologies
        </h1>
        <div class="text-center my-3">
            <button type="button" class="btn main-btn" data-bs-toggle="modal" data-bs-target="#new-techno">Nouvelle technologie</button>
        </div>
        <div class="d-flex flex-column mt-5 technologies-container">    
            {% for technology in technologies %}
            <div class="technology-card mx-3 my-3 row text-center">
                <h3 class="col mx-2">{{technology.name}}</h3>
                <button type="button" class="btn secondary-btn col mx-2" data-bs-toggle="modal" data-bs-target="#techno-{{technology.id}}-modal">
                    Modifier
                </button>
                <a class="btn secondary-btn col mx-2" href="{{path('admin_technology_delete', {technology: technology.id})}}">Supprimer</a>
            </div>
            <div class="modal fade" id="techno-{{technology.id}}-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modifier {{technology.name}}</h5>
                        </div>
                        <form action="{{path('admin_technology_edit')}}" method="POST">
                            <div class="modal-body">
                                <div>
                                    <label for="name" class="form-label">Nouveau nom</label>
                                    <input type="text" name="name" class="form-control" value="{{technology.name}}">
                                </div>
                                <input type="hidden" name="id" value="{{technology.id}}">
                            </div>
                            <div class="modal-footer d-flex justify-content-evenly">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <input type="submit" class="btn main-btn" value="Confirmer" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="new-techno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle technologie</h5>
            </div>
            <form action="{{path('admin_technology_new')}}" method="POST">
                <div class="modal-body">
                    <div>
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" name="name" class="form-control" placeholder="Nom de la nouvelle technologie">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-evenly">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn main-btn" value="Confirmer" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}